.nav-links {
  align-self: flex-start;
  width: 120px;
  display: flex;
  justify-content: space-between;
  margin-left: 90px;
}

.link {
  display: inline-flex;
  width: 10px;
  height: 10px;
  background: #d0d6f9;
  opacity: .5;
  border-radius: 100%;
  cursor: pointer;
}

.link:hover {
  opacity: .75;
}

.link.active {
  opacity: 1;
}

@media (max-width: 1240px) {
  .nav-links {
    /* order: -1; */
    position: absolute;
    width: fit-content;
    gap: 2rem;
    top: 44%;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0
  }
}

@media (max-width: 680px) {
  .nav-links {
    top: 65%;
    gap: 1.5rem;
  }
}

@media (max-width: 500px) {
  .nav-links {
    top: 65%;
  }
}