.destination-page {
  background-image: url('../../../public/assets/destination/background-destination-desktop.jpg');
  background-size: cover;
  height: 100vh;
  padding: 0 54px 54px 54px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  align-items: flex-end;
}

.nav-description {
  width: 90%;
  color: #fff;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 24px;
}

.nav-index {
  color: #d0d6f9;
}

.nav-heading {
  margin-left: .5em;
}

.links {
  color: #d0d6f9;
  display: flex;
  gap: 2rem;
  width: 40%;
  height: 70px;
  text-align: center;
  /* position: absolute;
  top: 0;
  right: 0; */
}

@media (max-width: 1240px) {
  .destination-page {
    padding-top: 200px;
    padding-bottom: 0px;
    min-height: 100%;
    height: calc(100vh + 400px);
    /* justify-content: flex-start; */
    position: relative;
    background-image: url('../../../public/assets/destination/background-destination-tablet.jpg');
    /* text-align: center; */
  }

  .links {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateX(50%);
    justify-content: center;
  }

  .nav-description {
    margin-bottom: 3rem;
  }
}

@media (max-width: 680px) {
  .destination-page {
    text-align: center;
    height: calc(100vh + 250px);
    justify-content: flex-start;
    background-image: url('../../../public/assets/destination/background-destination-mobile.jpg');
  }

  .nav-description {
    width: 100%;
  }

  .links {
    top: 47%;
  }
}